# Core app
streamlit

# Computer Vision
opencv-python-headless
pillow

# Math & ML
numpy
scikit-learn
joblib

# Image Processing
scikit-image
mahotas

# Plotting
matplotlib

# Deep Learning
tensorflow
